.icon-small {
  --background: transparent;
  --icon-size: 8px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.icon-small ion-button {
  background: transparent;
}

.icon-size {
  font-size: var(--icon-size);
}

.small-icon ion-img {
  width: var(--icon-size);
  height: var(--icon-size);
}

.buttons-card ion-button {
  margin: 0 10px;
}


.ion-card-method{
  background: rgb(165, 155, 155);
}

.ion-card-method-black{
  background: black;
}

ion-card-header {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  ion-thumbnail {
    margin-left: 10px;
    width: 70px;
    height: 70px;

    img {
      border-radius: 50%;
    }
  }

  .empresa-title {
    font-weight: bold;
    margin: 0;
  }

  ion-card-title {
    margin: 5px 0;
  }
}

ion-card-content {
  background: rgba(165, 155, 155, 0.87);
  padding: 0;
  margin: 0;
}

.no-background {
  --background: transparent;
}

.padded-text {
  padding: 3px 0;
  margin: 0;
}

.right-aligned {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.buttons-card {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}


ion-card-content{
  background: rgba(165, 155, 155, 0.87);
}

.no-background {
  --background: transparent;
}

.padded-text {
  padding: 3px 0;
}

.right-aligned {
  display: flex;
  justify-content: flex-end;
}

.text-green-500 {
  color: #27AE60; /* Dark mode color */
}

.text-green-700 {
  color: #ffffff; /* Light mode color */
}
