.icon-small {
  --icon-size: 8px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.icon-size {
  font-size: var(--icon-size);
}

.small-icon ion-img {
  width: var(--icon-size);
  height: var(--icon-size);
}


.back {
  background: rgb(125, 145, 145);
  border-radius: 20px !important;

  ion-card-header {
    padding: 10px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5px;
    justify-content: center;
    align-items: center;

    .empresa-title {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #515151 !important;
      grid-column: 1/4;
    }

    ion-thumbnail {
      margin: 0 auto;
      grid-row: -3/-1;
      grid-column: 4/5;
      width: 70px;
      height: 70px;

      img {
        border-radius: 50%;
      }
    }

    ion-card-title {
      grid-column: 1/4;
      margin: 0;
    }
  }

  ion-label {
    font-size: 11px !important;
    color: #ffffff;
    font-weight: bold;
  }

  ion-text {
    font-weight: bold;
  }

  ion-card-content {
    font-size: 11px !important;
    color: #ffffff;
    padding: 0px !important;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: flex-start;

    ion-item {
      font-size: 11px !important;
      color: #ffffff;
      li {
        margin: 0px;
        padding: 5px;
      }
    }

    ion-grid {
      padding: 0px;
      ion-row {
        ion-col:last-child {
          padding-left: 10px;
        }
      }
    }
  }

  .buttons-card {
    display: flex;
    justify-content: end;


    ion-button {
      --background: rgba(255, 255, 255, 0.3);
      margin: 0px 10px 10px 10px;
      --border-radius: 10px;
      text-transform: capitalize;
    }
  }

  ion-icon {
    font-size: 25px;
  }
}
