<ion-content class="background_content" [ngClass]="{'dark-background': isDarkMode}">
  <app-header></app-header>
  <ion-tabs class="container_tabs">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab1" href="/tabs/tab1" (click)="onTabChange()">
        <ion-label>Ofertas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2" href="/tabs/tab2" (click)="onTabChange()">
        <ion-label>En Proceso</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4" href="/tabs/tab4" (click)="onTabChange()">
        <ion-label>Recursos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-toast
    *ngIf="showToast"
    message="Cambiando de sección"
    duration="2000"
    position="bottom"
    color="dark"
    [cssClass]="'toast-message'"
  ></ion-toast>
</ion-content>
