.header_nav {
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  .header_searchbar {
    flex: 1;
    --background: rgba(255, 255, 255, 0.91);
    --border-radius: 20px;
  }

  ion-button {
    --box-shadow: none;
    margin-left: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:active {
      background-color: rgba(0, 0, 0, 0.1);
      transform: scale(0.95);
    }

    ion-icon {
      transition: color 0.2s ease;

      &:active {
        color: #3880ff;
      }
    }
  }

  img {
    border-radius: 50%;
  }
}

.moon-icon {
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  transition: background-color 0.2s ease;
  font-size: 10px;

  &.selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.text-green-500 {
  color: #00FF4CFF; /* Dark mode color */
}

.text-green-700 {
  color: #00FF4CFF; /* Light mode color */
}

.lunes {
  background-color: #27AE60;
}

.text-white {
  color: white;
}

.text-green-dark{
  color: #000000;
}

.text-black {
  color: black;
}

.border-white{
  border: 1px solid white;
}

.border-black{
  border: 1px solid black;
}

