<ion-content [fullscreen]="true" [ngClass]="{'dark-background': isDarkMode}">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="medium">
          <div class="inicio">
            <ion-button fill="clear" size="small" class="boton-agregar" (click)="backtomain()">
              <ion-icon name="arrow-back-outline" [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}"></ion-icon>
            </ion-button>
            <h1 [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Notificaciones</h1>
            <ion-button fill="clear" size="small" (click)="toggleCalendar()" class="boton-agregar">
              <ion-icon name="calendar-outline" [ngClass]="{'text-green-700': isDarkMode, 'text-green-500': !isDarkMode}"></ion-icon>
            </ion-button>
            <div class="dark-mode-toggle">
              <ion-icon name="moon" class="moon-icon" (click)="toggleDarkMode()" [ngClass]="{'text-green-700': isDarkMode, 'text-green-500': !isDarkMode}"></ion-icon>
            </div>
            <div *ngIf="isCalendarVisible" class="calendar-container">
              <ion-datetime presentation="date" (ionChange)="onDateChange($event)" [ngClass]="{'calendar-background-black': isDarkMode, 'calendar-background': !isDarkMode}"></ion-datetime>
            </div>
          </div>
          <ion-button fill="clear" size="small" (click)="resetFilter()" class="boton-agregar">
            <ion-icon name="refresh-outline"></ion-icon>
            <span [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Restablecer Filtro</span>
          </ion-button>

          <p [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Recientes</p>
        </ion-text>

        <!-- Notificaciones Recientes -->
        <ng-container *ngFor="let notificacion of recientes; let i = index">
          <ion-card class="notification-card" (click)="verDetalles(notificacion.id)">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="./../../../../assets/Kohmi.jpg" />
              </ion-avatar>
              <ion-label>
                <p class="fecha-ubicacion">{{ notificacion.fecha | date: 'dd/MM/yyyy' }}</p>
                <h3>{{ notificacion.titulo }}</h3>
                <p>{{ notificacion.descripcion }}</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ng-container>

        <ion-text>
          <h2 [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Hace 7 días</h2>
        </ion-text>

        <!-- Notificaciones Antiguas -->
        <ng-container *ngFor="let notificacion of antiguas; let i = index">
          <ion-card class="notification-card" (click)="verDetalles(notificacion.id)">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="./../../../../assets/Kohmi.jpg" />
              </ion-avatar>
              <ion-label>
                <p class="fecha-ubicacion">{{ notificacion.fecha | date: 'dd/MM/yyyy' }}</p>
                <h3>{{ notificacion.titulo }}</h3>
                <p>{{ notificacion.descripcion }}</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ng-container>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
