<ion-item class="ion-item-card-recurso no-background" lines="none">
  <ion-button fill="none" slot="end" (click)="createRecurso()">
    <ion-icon size="large" [ngClass]="{'text-white': isDarkMode, 'text-green-500': !isDarkMode}" name="add-circle"></ion-icon>
  </ion-button>
</ion-item>
<ion-card class="centered-card" [ngClass]="{'back-green-500': isDarkMode, 'back-green-700': !isDarkMode}">
  <ion-card-content >
    <h1 style="text-align: center;" [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Almacen</h1>
    <p [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Empresa</p>
    <p [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Por una tarifa de <strong>$12400</strong></p>
    <p [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Con estatus <strong>Activo</strong></p>
    <p [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">Con la modalidad <strong>Presencial</strong></p>
  </ion-card-content>
</ion-card>
