<ion-content [fullscreen]="true" [ngClass]="{'dark-background': isDarkMode}">
  <div class="min-h-screen flex items-center justify-center">
    <div class="middle">
      <div class="box bg-white/20 rounded-2xl shadow-[0px_4px_32px_0px_rgba(0,0,0,0.25)] backdrop-blur-2xl">
        <div class="dark-mode-toggle">
          <ion-icon name="moon" class="moon-icon" (click)="toggleDarkMode()" [ngClass]="{'text-green-700': isDarkMode, 'text-green-500': !isDarkMode}"></ion-icon>
        </div>
        <form #loginForm="ngForm">

            <h1 class="text-2xl font-bold text-center" [ngClass]="{'text-white': isDarkMode, 'text-black': !isDarkMode}">{{'label.welcome' | translate}}</h1>

          <div class="text-center">
            <div class="w-1/2 mx-auto mt-2 border-t-2" [ngClass]="{'border-white': isDarkMode, 'border-black': !isDarkMode}"></div>
          </div>
          <br>

          <div class="relative flex items-center py-2">
            <input type="email" placeholder="   Correo Electrónico" name="email" #email="ngModel"
                   [(ngModel)]="login.email" required class="w-72 h-11 bg-black/50 rounded-lg border border-green-500 backdrop-blur-lg pr-10 text-white">
            <ion-icon name="mail" class="absolute right-4" [ngClass]="{'text-green-700': isDarkMode, 'text-green-500': !isDarkMode}"></ion-icon>
          </div>

          <div class="relative flex items-center py-2">
            <input [type]="showPassword ? 'password' : 'text'" [placeholder]="'Contraseña'" name="password" #password="ngModel"
                   [(ngModel)]="login.password" required class="w-72 h-11 bg-black/50 rounded-lg border border-green-500 backdrop-blur-lg pr-10 text-white">
            <ion-icon [name]="showPassword ? 'lock-closed' : 'lock-open'" (click)="togglePasswordVisibility()"
                      class="absolute right-4" [ngClass]="{'text-green-700': isDarkMode, 'text-green-500': !isDarkMode}"></ion-icon>
          </div>

          <div class="mt-1 flex justify-center">
            <button class="btn-central rounded-full" (click)="goToHome()" [disabled]="loginForm.invalid" [ngClass]="{'btn-central-dark': isDarkMode}">
              {{'label.enter' | translate}}
            </button>
          </div>

          <div class="forget-password-container mt-4">
            <button class="text-black" (click)="goToForget()">
              {{'label.recoverpsswd' | translate}}
            </button>
          </div>
        </form>

        <h2 id="media" class="text-center text-black mt-4">{{'label.continuewith' | translate}}</h2>

        <div class="text-center mt-4">
          <button (click)="logAuth()">
            <img src="assets/images/Google.png" alt="Google Logo" class="h-10">
          </button>
        </div>

        <ion-button fill="clear" class="register-button" (click)="regis()" style="font-size: var(--app-font-size);">
          {{'label.registration1' | translate}}
          <span [ngClass]="{'text-white': isDarkMode, 'text-green-dark': !isDarkMode}" style="font-size: var(--app-font-size);">
            {{'label.registration2' | translate}}
          </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
