@import '@ionic/angular/css/ionic.bundle.css';

ion-content {

  &.dark-background {
    --background: url(/assets/images/black-fondo.jpg) no-repeat center center / cover;
  }
    --background: url(/assets/images/fondo.jpg) no-repeat center center / cover;

    .middle {

        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding: 20px;

        .box {

            position: relative;
            border-radius: 20px;
            padding: 20px 15px;
            overflow: hidden;
            width: 100%;
            max-width: 400px;
            background: rgba(255, 255, 255, 0.1);

            &::before {

                content: "";
                position: absolute;
                inset: 0;
                background: inherit;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                z-index: -1;
            }


            h1 {
                font-size: 17px;
                text-align: left;
                padding-left: 10px;
                // padding-bottom: 10px;
                letter-spacing: 0.5px; //espacio entre letras
                // line-height: 1.4; // Mejora el espacio entre lineas
                border-left: 3px solid #34A853; // añade una linea vertical decorativa
                margin-left: 24px;
            }

            ion-item {
                --background: rgba(0, 0, 0, 0.6);
                // --border-color: #27AE60;
                // --border-width: 1px;
                // --border-style: solid;
                --border-radius: 10px;
                --padding-start: 15px;
                --padding-end: 15px;
                margin-bottom: 20px;

                ion-input {
                    --color: white;
                    --placeholder-color: rgba(255, 255, 255, 0.8);
                }

                ion-icon {
                    color: #27AE60;
                }
            }

            .btn {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                gap: 10px; //amplia los botones verticalmente

                ion-button {
                    --border-radius: 25px;
                    --padding-top: 15px;
                    --padding-bottom: 15px;
                    width: 100%;
                    max-width: 300px;
                    // margin: 0 auto;
                    // font-weight: bold;
                }
            }
        }
    }

  .btn-central {
    background-color: #27AE60; /* Light mode background */
    border-radius: 10px;
    color: #000000; /* Light mode text color */
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.btn-central-dark {
      background-color: #000000; /* Dark mode background */
      color: white; /* Dark mode text color */
    }
  }

  .text-green-500 {
    color: #27AE60; /* Dark mode color */
  }

  .text-green-700 {
    color: #000000; /* Light mode color */
  }

  .lunes {
    background-color: #27AE60;
  }

  .text-white {
    color: white;
  }

  .text-green-dark{
    color: #155a33;
  }

  .text-black {
    color: black;
  }

  .border-white{
    border: 1px solid white;
  }

  .border-black{
    border: 1px solid black;
  }
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the icon to the right */

  .moon-icon {
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  }
}
